<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html"
	th:with="page='formateur'">
<head>
<title>[[#{formateur.form.page}]]</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<div id="formateurEdit" class="card mt-5">
			<form th:action="@{/formateur/save}" method="post">
				<input type="hidden" name="version" th:value="${formateur.version}" />
				<div class="card-header">
					<h5>[[#{formateur.form.title}]]</h5>
				</div>
				<div class="card-body">

					<div class="form-group">
						<label for="id">[[#{formateur.form.id}]]:</label> <input type="number"
							class="form-control" id="id" name="id" required
							th:value="${formateur.id}" readonly>
						<span
							class="text-danger" th:errors="${formateur.id}"></span>
					</div>
					<div class="form-group">
						<label for="nom">[[#{formateur.form.nom}]]:</label> <input type="text"
							class="form-control" id="nom" name="nom"
							th:value="${formateur.nom}">
						<span
							class="text-danger" th:errors="${formateur.nom}"></span>
					</div>
					<div class="form-group">
						<label for="prenom">[[#{formateur.form.prenom}]]:</label> <input type="text"
							class="form-control" id="prenom" name="prenom"
							th:value="${formateur.prenom}">
						<span
							class="text-danger" th:errors="${formateur.prenom}"></span>
					</div>
				</div>
				<div class="card-footer text-right">
					<div class="btn-group ">
						<button type="submit" class="btn btn-success">
							<i class="far fa-check-square fa-2x"></i>
						</button>
						<a th:href="@{/formateur/cancel}" class="btn btn-warning text-white">
							<i class="far fa-window-close fa-2x"></i>
						</a>
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>