<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html" 
	th:with="page='formateur'">
<head>
<title>[[#{formateur.list.page}]]</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<div class="card">
			<div class="card-header bg-primary text-white">
				<h2>[[#{formateur.list.title}]]</h2>
			</div>
			<div class="card-body table-wrap">
				<table id="formateurTab" class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>[[#{formateur.list.nom}]]</th>
							<th>[[#{formateur.list.prenom}]]</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="formateur : ${formateurs}">
							<td th:text="${formateur.id}"></td>
							<td>[[${formateur.nom}]]</td>
							<td>[[${formateur.prenom}]]</td>
							<td><a th:href="@{/formateur/edit(id=${formateur.id})}"
								class="btn btn-sm btn-primary"> <i class="fas fa-edit"></i>
							</a>&nbsp;<a th:href="@{/formateur/delete/{id}(id=${formateur.id})}"
								class="btn btn-sm btn-danger"> <i class="fas fa-trash"></i>
							</a></td>
						</tr>

					</tbody>
				</table>
			</div>
			<div class="card-footer">
				<a th:href="@{/formateur/add}" class="btn btn-primary"> <i
					class="fas fa-plus-square fa-2x"></i>
				</a>
			</div>
		</div>
	</section>
</body>
</html>