<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html" th:with="page='eleve'">
<head>
<title>[[#{eleve.form.page}]]</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<div id="eleveEdit" class="card mt-5">
			<form th:action="@{/eleve/save}" method="post">
				<input type="hidden" name="version" th:value="${monEleve.version}" />
				<div class="card-header">
					<h5>[[#{eleve.form.title}]]</h5>
				</div>
				<div class="card-body">

					<div class="form-group">
						<label for="id">[[#{eleve.form.id}]]:</label> <input type="number"
							class="form-control" id="id" name="id" required
							th:value="${monEleve.id}" readonly> <span
							class="text-danger" th:errors="${monEleve.id}"></span>
					</div>
					<div class="form-group">
						<label for="civilite">[[#{eleve.form.civilite}]]:</label><select
							class="form-control" id="civilite" name="civilite" th:value="${monEleve.civilite}">
							<option th:value="${null}">---------</option>
							<option th:each="civ : ${civilites}" th:value="${civ}"
								th:selected="${civ==monEleve.civilite}">[[#{${civ.label}}]]</option>
						</select> <span class="text-danger" th:errors="${monEleve.civilite}"></span>
					</div>
					<div class="form-group">
						<label for="nom">[[#{eleve.form.nom}]]:</label> <input type="text"
							class="form-control" id="nom" name="nom"
							th:value="${monEleve.nom}"> <span class="text-danger"
							th:errors="${monEleve.nom}"></span>
					</div>
					<div class="form-group">
						<label for="prenom">[[#{eleve.form.prenom}]]:</label> <input type="text"
							class="form-control" id="prenom" name="prenom"
							th:value="${monEleve.prenom}"> <span class="text-danger"
							th:errors="${monEleve.prenom}"></span>
					</div>
					<div class="form-group">
						<label for="age">[[#{eleve.form.age}]]:</label> <input type="number"
							class="form-control" id="age" name="age"
							th:value="${monEleve.age}" min="0"> <span
							class="text-danger" th:errors="${monEleve.age}"></span>
					</div>
					<div class="form-group">
						<label for="email">[[#{eleve.form.email}]]:</label> <input type="text"
							class="form-control" id="email" name="email"
							th:value="${monEleve.email}"> <span
							class="text-danger" th:errors="${monEleve.email}"></span>
					</div>
					<div class="form-group">
						<label for="dtEmbauche">[[#{eleve.form.dtEmbauche}]]:</label> <input type="date"
							class="form-control" id="dtEmbauche" name="dtEmbauche"
							th:value="${monEleve.dtEmbauche}"> <span
							class="text-danger" th:errors="${monEleve.dtEmbauche}"></span>
					</div>
					<div class="form-group">
						<label for=formation>[[#{eleve.form.formateur}]]:</label><select
							class="form-control" id="formateur.id" name="formateur.id" th:value="${monEleve.formateur?.id}">
							<option th:each="formateur : ${formateurs}" th:value="${formateur.id}"
								th:selected="${formateur.id==monEleve.formateur?.id}">[[${formateur.nom}]] [[${formateur.prenom}]]</option>
						</select> <span class="text-danger" th:errors="${monEleve.formateur.id}"></span>
					</div>
				</div>
				<div class="card-footer text-right">
					<div class="btn-group ">
						<button type="submit" class="btn btn-success">
							<i class="far fa-check-square fa-2x"></i>
						</button>
						<a th:href="@{/eleve/cancel}" class="btn btn-warning text-white">
							<i class="far fa-window-close fa-2x"></i>
						</a>
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>