<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html" th:with="page='eleve'">
<head>
<title>[[#{eleve.list.page}]]</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<div class="card">
			<div class="card-header bg-primary text-white">
				<form class="form-inline" th:action="@{/eleve/list}" method="post">
					<label for="nom" class="mr-sm-2">Nom:</label>
					<input type="text" class="form-control mb-2 mr-sm-2" id="nom" name="nom" th:value="${nom}">
					<label for="prenom" class="mr-sm-2">Prénom:</label>
					<input type="text" class="form-control mb-2 mr-sm-2" id="prenom" name="prenom" th:value="${prenom}">
					<button type="submit" class="btn btn-primary mb-2">Rechercher</button>
				</form>
			</div>
			<div class="card-body table-wrap">
				<table id="eleveTab" class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>[[#{eleve.list.civilite}]]</th>
							<th>[[#{eleve.list.nom}]]</th>
							<th>[[#{eleve.list.prenom}]]</th>
							<th>[[#{eleve.list.age}]]</th>
							<th>[[#{eleve.list.email}]]</th>
							<th>[[#{eleve.list.dtEmbauche}]]</th>
							<th>[[#{eleve.list.formateur}]]</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="eleve : ${mesEleves}">
							<td th:text="${eleve.id}"></td>
							<td><span th:if="${eleve.civilite != null}"
								th:text="#{${eleve.civilite?.label}}"></span></td>
							<td>[[${eleve.nom}]]</td>
							<td>[[${eleve.prenom}]]</td>
							<td>[[${eleve.age}]]</td>
							<td>[[${eleve.email}]]</td>
							<td>[[${#dates.format(eleve.dtEmbauche, 'dd/MM/yyyy')}]]</td>
							<td>[[${eleve.formateur?.nom}]]
								[[${eleve.formateur?.prenom}]]</td>
							<td><a th:href="@{/eleve/edit(id=${eleve.id})}"
								class="btn btn-sm btn-primary"> <i class="fas fa-edit"></i>
							</a>&nbsp;<a th:href="@{/eleve/delete/{id}(id=${eleve.id})}"
								class="btn btn-sm btn-danger"> <i class="fas fa-trash"></i>
							</a></td>
						</tr>

					</tbody>
				</table>
			</div>
			<div class="card-footer">
				<a th:href="@{/eleve/add}" class="btn btn-primary"> <i
					class="fas fa-plus-square fa-2x"></i>
				</a>
			</div>
		</div>
	</section>
</body>
</html>